
body{
	background-color: rgb(170, 241, 241);
	margin: 0; padding: 0;
}
      .password-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
      }
      .input-wrapper {
        position: relative;
				width: 200px; 
      }
      .input-wrapper input {
        min-width: 120px;
        padding: 10px;
        margin-bottom: 24px;
      }
      .input-wrapper i {
        position: absolute;
        right: 25px;
        top: 30px;
        color: grey;
        cursor: pointer;
      }
		.btn,.btn2{
		width: 187px;
        height: 60px;
        background-color: black;
        color: goldenrod;
        cursor: pointer;
        margin-left: -10px;
		}
      .btn:hover, .btn2:hover{
        background-color: goldenrod;
        color: black;
      }
      .error-password{
        color: red;
        text-align: 20px;
        font-weight: bold;
      }
	  .active{
background-color: burlywood;
color: rgb(5, 5, 94);
font-weight: bold;
	  }
header{
	width: 100%;
	height: 80px;
	background-color: rgb(187, 220, 89);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  